@import '../../scss/variables.scss';
@import '../../scss/typography.scss';

.btn {
  padding: 7px 28px;
  transition: all 0.3s ease;
  position: relative;

  border-radius: 5px;
  border-width: 1px;
  border-style: solid;

  @include btn-small;

  &_full {
    width: 100%;
  }

  &:active {
    transform: scale(0.97);
  }
}

.primary {
  border-color: $bg-accent;
  color: $text-light;
  background: $bg-accent;

  &:hover,
  &:focus {
    opacity: 0.85;
  }

  &:disabled {
    background: $bg-grey;
    border-color: $bg-grey;

    &:hover {
      opacity: 1;
    }
  }
}

.default {
  border-color: $bg-dark;
  color: $text-main;
  background: inherit;

  &:hover {
    background: $bg-dark;
    color: $text-light;
  }

  &:disabled {
    border-color: $bg-main;
    background: $bg-main;
    color: $text-second;

    &:hover {
      color: $text-second;
    }
  }
}

.text {
  border: none;
  background: inherit;
  color: $text-main;

  &:hover {
    text-decoration: underline;
  }
}

.loader {
  position: absolute;
  left: 5px;
  top: 5px;

  animation-name: rotation;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
