@import '../../scss/variables.scss';
@import '../../scss/typography.scss';

.btn {
  padding: 7px 46px;
  transition: all 0.3s ease;

  border-radius: 5px;
  border-width: 1px;
  border-style: solid;

  @include btn;

  &_full {
    width: 100%;
  }

  &_small {
    @include btn-small;

    padding: 7px 28px;
  }

  &:active {
    transform: scale(0.97);
  }
}

.primary {
  border-color: $bg-accent;
  color: $text-light;
  background: $bg-accent;

  &:hover,
  &:focus {
    opacity: 0.85;
  }
}

.default {
  border-color: $bg-dark;
  color: $text-main;
  background: inherit;

  &:hover {
    background: $bg-dark;
    color: $text-light;
  }

  &:disabled {
    border-color: $bg-main;
    background: $bg-main;
    color: $text-second;

    &:hover {
      color: $text-second;
    }
  }
}

.text {
  border: none;
  background: inherit;
  color: $text-main;

  &:hover {
    text-decoration: underline;
  }
}
