@import '../../scss/variables.scss';
@import '../../scss/typography.scss';

.story {
  display: flex;
  align-items: center;
  gap: 30px;

  padding: 40px 50px;
  border-radius: 2px;

  position: relative;
  background: $bg-light;

  &:not(:last-child) {
    margin-bottom: 2px;
  }

  @media (max-width: 700px) {
    padding: 20px 25px;
  }

  @media (max-width: 500px) {
    gap: 5px;
    flex-direction: column;
  }
}

.number {
  position: absolute;
  left: -20px;
  top: 50%;
  transform: translateY(-50%);

  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: $bg-accent;

  text-align: center;
  line-height: 40px;
  @include number;

  @media (max-width: 700px) {
    width: 20px;
    height: 20px;
    line-height: 20px;
    left: -10px;
  }
}

.score {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 60px;

  @include score;

  @media (max-width: 700px) {
    width: 40px;
    gap: 5px;

    svg {
      width: 10px;
    }
  }
}

.title {
  display: block;
  margin-bottom: 8px;

  @include title;

  &:hover {
    color: $text-accent;
  }

  @media (max-width: 500px) {
    text-align: center;
  }
}
