@import './scss/reset.scss';
@import './assets/fonts/fonts.scss';
@import './scss/variables.scss';
@import './scss/typography.scss';

body {
  @include base;
  color: $text-main;

  background: $bg-main;
}

.container {
  max-width: 1180px;
  padding: 0 20px;
  margin: 0 auto;
}

.content {
  margin: 50px 0;
}
